<%= form_for(@friend) do |f| %>
  <% if @friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
      <% @friend.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class='input-group date datepicker'>
    <%= f.text_field :created_at, data: { :date_format => 'YYYY/MM/DD hh:mm' },class: 'form-control' %>
    <span class="input-group-addon">
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
