<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cat.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cat.price %>
</p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @cat.image? %>
    <div class="thumbnail">
      <%= image_tag @cat.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to 'Edit', edit_cat_path(@cat), class: "btn btn-primary" %> |
<%= link_to 'Back', cats_path, class: "btn btn-primary" %>
